<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera - iotedge1</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="brand-header">
        <img src="kfc-logo-png.png" alt="Brand Logo" class="logo-image">
        <h1>Camera - iotedge1</h1>
    </header>
    
    <!-- Main content area -->
    <main class="main-content">
        <!-- Tabs -->
        <div class="tabs">
            <div class="tab active" onclick="openTab('detectionsTab')">Detections</div>
            <div class="tab" onclick="openTab('cameraTab')">Camera</div>
            <div class="tab" onclick="openTab('parametersTab')">Parameters</div>
        </div>

        <!-- Detections Tab Content -->
        <div id="detectionsTab" class="tab-content active">
            <div class="image-container">
                <img id="processedImage" alt="Processed Image">
            </div>
                <!-- Multi-line products-detected field -->
                <div id="detections"></div>
                <form id="detections-form" class="detections-form">
                    <div class="multi-line-field">
                        <h3 class="multiline-label">Local Detections</h2>
                        <textarea id="local-detections" rows="4"></textarea>
                    </div>                
                    <div class="multi-line-field">
                        <h3 class="multiline-label">Remote Detections</h2>
                        <textarea id="remote-detections" rows="4"></textarea>
                    </form>
                </div>                
            </div>                
        </div>

        <!-- Camera Tab Content -->
        <div id="cameraTab" class="tab-content">
            <div class="image-container">
                <img id="currentImage" alt="Current Image">
            </div>

            <!-- Rectification Parameters -->
            <div class="parameters">
                <form id="rectification-form" class="parameter-form">
                        <div class="form-group">
                            <label for="rectification-topleftx">TopLeft-x:</label>
                            <input type="number" id="rectification-topleftx" name="rectification-topleftx" min="0">
                            <label for="rectification-toplefty">TopLeft-y:</label>
                            <input type="number" id="rectification-toplefty" name="rectification-toplefty" min="0">
                        </div>

                        <div class="form-group">
                            <label for="rectification-toprightx">TopRight-x:</label>
                            <input type="number" id="rectification-toprightx" name="rectification-toprightx" min="0">
                            <label for="rectification-toprighty">TopRight-y:</label>
                            <input type="number" id="rectification-toprighty" name="rectification-toprighty" min="0">
                        </div>

                        <div class="form-group">
                            <label for="rectification-bottomleftx">BottomLeft-x:</label>
                            <input type="number" id="rectification-bottomleftx" name="rectification-bottomleftx" min="0">
                            <label for="rectification-bottomlefty">BottomLeft-y:</label>
                            <input type="number" id="rectification-bottomlefty" name="rectification-bottomlefty" min="0">
                        </div>

                        <div class="form-group">
                            <label for="rectification-bottomrightx">BottomRight-x:</label>
                            <input type="number" id="rectification-bottomrightx" name="rectification-bottomrightx" min="0">
                            <label for="rectification-bottomrighty">BottomRight-y:</label>
                            <input type="number" id="rectification-bottomrighty" name="rectification-bottomrighty" min="0">
                        </div>
    
                </form>
            </div>
            <div class="toggles">
                <form id="camera-toggles-form" class="toggles-form">
                    <div class="form-group checkbox-group">
                        <input type="checkbox" id="convert-gray" name="convert-gray">
                        <label for="convert-gray">Convert to Gray</label>
                        <input type="checkbox" id="remove-background" name="remove-background">
                        <label for="remove-background">Remove background</label>
                        <input type="checkbox" id="perform-rectification" name="perform-rectification">
                        <label for="perform-rectification">Perform rectification</label>
                    </div>
                </form>
            </div>

        </div>
        
        <!-- Parameters Tab Content -->
        <div id="parametersTab" class="tab-content">
            <!-- Parameters Section -->
            <div class="presets">
                <h2>Parameters</h2>
                <form id="presets-form" class="presets-form">
                    <!-- Presets Dropdown -->
                    <div class="form-group">
                    <label for="presets">Presets:</label>
                    <select id="presets" name="presets">
                        <option value="llama-llava">Llama llava</option>
                        <option value="gpt-4o">GPT 4o</option>
                        <option value="product-detection">Product Detection</option>
                        <option value="edge" selected>Edge</option>
                    </select>
                    </div>
                </form>
            </div>

            <div class="toggles">
                <form id="toggles-form" class="toggles-form">
                    <div class="form-group checkbox-group">
                    <input type="checkbox" id="convert-gray" name="convert-gray">
                    <label for="convert-gray">Convert to Gray</label>
                    <input type="checkbox" id="process-locally" name="process-locally">
                    <label for="process-locally">Process Locally</label>
                    <input type="checkbox" id="show-local-detections" name="show-local-detections">
                    <label for="show-local-detections">Show Local Detections</label>
                    <input type="checkbox" id="process-remotely" name="process-remotely">
                    <label for="process-remotely">Process Remotely</label>
                    <input type="checkbox" id="show-remote-detections" name="show-remote-detections">
                    <label for="show-remote-detections">Show Remote Detections</label>
                    <input type="checkbox" id="send-local-to-hub" name="send-local-to-hub">
                    <label for="send-local-to-hub">Send local detections to hub</label>
                    <input type="checkbox" id="send-remote-to-hub" name="send-remote-to-hub">
                    <label for="send-remote-to-hub">Send remote detections to hub</label>
                    </div>
                </form>
            </div>

            <div class="parameters">
            <form id="parameters-form" class="parameter-form">
                    <div class="form-group">
                        <label for="local-endpoint">Local Processing Endpoint:</label>
                        <input type="text" id="local-endpoint" name="local-endpoint" placeholder="Enter local endpoint">
                    </div>

                    <div class="form-group">
                        <label for="cloud-endpoint">Cloud Processing Endpoint:</label>
                        <input type="text" id="cloud-endpoint" name="cloud-endpoint" placeholder="Enter cloud endpoint">
                    </div>

                    <div class="form-group">
                        <label for="resize-width">Resize Width:</label>
                        <input type="number" id="resize-width" name="resize-width" min="1" placeholder="Width in pixels">
                    </div>

                    <div class="form-group">
                        <label for="resize-height">Resize Height:</label>
                        <input type="number" id="resize-height" name="resize-height" min="1" placeholder="Height in pixels">
                    </div>

                    <div class="form-group">
                    <label for="wait-time">Wait Time (secs):</label>
                    <input type="number" id="wait-time" name="wait-time" min="1" placeholder="Wait time">
                </div>

                </form>
            </div>

            <!-- Multi-line prompt, prompt-response field -->
            <div class="multi-line-field">
                <h3 class="multiline-label">Prompt</h2>
                <textarea id="prompt" rows="4"></textarea>
                <h3 class="multiline-label">Prompt Response</h2>
                <textarea id="prompt-response" rows="4"></textarea>
            </div>

            <!-- Send parameters to back-end -->
            <div class="controls">
                <button id="update-button">Update</button>
            </div>
        </div> <!-- Parameters Tab -->

    </main>
    <script src="script.js"></script>
</body>
</html>
