/* General styles */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #333; /* Dark background for better contrast */
}

/* Header styles */
.brand-header {
  background-color: #ab1827; /* Red background */
  color: #fff; /* White text */
  padding: 10px;
  text-align: center;
}

.logo-image {
  height: 80px;
  vertical-align: middle;
}

h1 {
  margin: 0;
  font-size: medium;
}

/* Main content styles */
.main-content {
  padding: 20px;
  background-color: #ab1827; /* Red background */
  color: #fff; /* White text */
}

/* Detections Section */
.detections {
  margin-bottom: 20px;
}

.detections-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Responsive columns */
  gap: 20px;
}

/* Parameters Section */
.parameters {
  margin-bottom: 20px;
}

.parameter-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
  gap: 20px;
}

.presets {
  margin-bottom: 20px;
}

.presets-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive columns */
  gap: 20px;
}

.toggles {
  margin-bottom: 20px;
}

.toggles-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr)); /* Responsive columns */
  gap: 20px;
}

.form-group {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  box-sizing: border-box;
}

.form-group label {
  display: block;
  color: #333; /* Dark color for labels to ensure readability */
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box; /* Ensures padding and border are included in element's width and height */
}

select {
  /* Specific style to make the Presets dropdown larger */
  font-size: 1.1em; /* Larger text */
  padding: 10px; /* More padding */
}

input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  gap: 15px; /* Space between checkboxes */
}

input[type="radio"] {
  accent-color: #ab1827; /* Red color for radio buttons */
}

/* Multi-line fields */
.multi-line-field {
  margin: 20px 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.multi-line-field h3 {
  color: #ab1827; /* Red text color for headings */
}

.multi-line-label {
  color: #ab1827; /* Red text color for headings */
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  /* color: #ab1827; Red text color */
  box-sizing: border-box; /* Ensures padding and border are included in element's width and height */
}

/* Controls */
.controls {
  text-align: center;
}

button {
  background-color: #ab1827; /* Red background */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #410309; /* Darker red on hover */
}

/* Styles for the tabs */
.tab {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #ab1827; /* Red background for inactive tabs */
  color: #fff; /* White text for inactive tabs */
  border: 1px solid #ccc;
  border-bottom: none;
  font-weight: normal; /* Normal text for inactive tabs */
}

.tab.active {
  background-color: #8b141f; /* Darker red background for active tab */
  color: #fff; /* White text for active tab */
  font-weight: bold; /* Bold text for active tab */
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.tab-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.tab-content.active {
  display: block;
}

